<div class="container">
  <div class="row">
    <div class="col-md-5 col-md-offset-3 col-lg-offset-3">
      <div class="authform">
        <h3>Actualizar</h3>
        <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :role => 'form'}) do |f| %>
          <%= devise_error_messages! %>
          <div class="form-group">
            <%= f.label :first_name, "Nombre" %>
            <%= f.text_field :first_name, :autofocus => true, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :last_name, "Apellido" %>
            <%= f.text_field :last_name, :autofocus => true, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :email, "Email" %>
            <%= f.email_field :email, class: 'form-control' %>
            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Actualmente se espera la confirmación for: <%= resource.unconfirmed_email %></div>
            <% end %>
          </div>
          <fieldset>
            <p>Deje estos campos en blanco si no desea cambiar su contraseña.</p>
            <div class="form-group">
              <%= f.label :password %>
              <%= f.password_field :password, :autocomplete => 'off', class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :password_confirmation %>
              <%= f.password_field :password_confirmation, class: 'form-control' %>
            </div>
          </fieldset>
          <fieldset>
            <p>Debe introducir la contraseña actual para realizar cambios.</p>
            <div class="form-group">
              <%= f.label :current_password %>
              <%= f.password_field :current_password, class: 'form-control' %>
            </div>
          </fieldset>
          <%= f.submit 'Actualizar', :class => 'btn btn-warning' %>
          <%= link_to("Regresar", root_path, :class => 'btn btn-primary') %>
        <% end %>
      </div>
      <div class="authform">
      <h3>Cancelar cuenta</h3>
      <p>¿Insatisfecho? Vamos a estar triste ver que vaya.</p>
      <%= button_to "Cancelar mi cuenta", registration_path(resource_name), :data => { :confirm => "Recuerda al destruir esta cuenta pierdes toda la data que has creado hasta el momento?" }, :method => :delete, :class => 'btn btn-danger' %>
     </div>
    </div>
  </div>
</div>