<div class="container">
  <div>
  <h1>Lista de Participantes</h1>
  </div>
  <div class="pull-right">
    <%= link_to event_path(@event) , class: 'btn btn-primary' do%>
      Regresar
    <% end %>
    <%= link_to new_event_participant_path(@event) , class: 'btn btn-success' do%>
      <i class="fa fa-plus"></i> 
    <% end %>
  </div>

  <table class="table table-striped table-hover datatable">
    <thead>
      <tr>
      <th>Participantes</th>
      <th>Charater</th>
      <th>City</th>
      <th>Puntuación Final</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @participants.each do |participant| %>
        <tr>
          <td><%= link_to participant.full_name, participant %></td>
           <td><%= participant.character.name %></td>
          <td><%= participant.city%></td>
          <td><%= participant.sumery_score%></td>
          <td><%= form_tag new_event_evaluation_path(@event),class: "form-inline", method: :get do %> 
              <%= text_field_tag :participant_id, participant.id%>
              <div class="form-group">
                <%= select_tag :evaluation_builder_id, options_from_collection_for_select(@event.evaluation_builders, :id, :category_name),{ class: 'form-control' } %>
              </div>
              <%= button_tag(type: 'submit', name: nil, class: "btn btn-success") do %>
                 <i class="fa fa-plus"></i>
              <% end %>
            <% end %>
          </td>

          <td><%= link_to 'Editar', edit_participant_path(participant) %></td>
          <td><%= link_to 'Destruir', participant, method: :delete, data: { confirm: '¿Estas seguro?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
