<div class="row">
  <div class="col-xs-12 col-lg-8 col-lg-offset-3 animated">
    <div class="page-header">
      <h1 class="pull-left">
        <i class="icon-building"></i>
        <%= @event.organization.name %>
      </h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="container col-xs-12 col-lg-6 col-lg-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @event.title %></h3>
      </div>
      <div class="panel-body">
        <span><strong>Nombre: </strong> <%= @evaluation_builder.name %></span><br> 
        <span><strong>Categoría:</strong>  <%= @evaluation_builder.category.name%></span> <br>             
              <hr>
              <% @evaluation_builder.criterions.each do |criterion|%>
              <ul>
                <li><%= criterion.name %></li>
              </ul>
              <% end %>
              <hr>
  <%= link_to 'Editar', edit_evaluation_builder_path(@evaluation_builder) , class: "btn btn-warning" %>
  <%= link_to 'Regresar', event_evaluation_builders_path(@event),class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>


