<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @promo.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @promo.content %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @promo.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @promo.end_date %>
</p>

<p>
  <strong>Event:</strong>
  <%= @promo.event_id %>
</p>

<p>
  <strong>Organization:</strong>
  <%= @promo.organization_id %>
</p>

<%= link_to 'Edit', edit_promo_path(@promo) %> |
<%= link_to 'Back', promos_path %>
