<% if member_signed_in? %>
  <li><%= link_to 'Organizaci贸n', organization_path(current_member.organization) %></li>
  <li><%= link_to 'Eventos', organization_events_path(current_member.organization) %></li>
  <li><%= link_to 'Editar Cuenta', edit_member_registration_path %></li>
  <li><%= link_to 'Destruir Secci贸n', destroy_member_session_path, :method=>'delete' %></li>
<% else %>
  <li class="<%= 'active' if current_page?(new_member_session_path) %>" >
  	<%= link_to 'Iniciar Secci贸n', new_member_session_path %></li>
  <li class="<%= 'active' if current_page?(new_member_registration_path) %>">
  	<%= link_to 'Regristraci贸n', new_member_registration_path %></li>
<% end %>
